{% extends 'Adtaa/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">

            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                {#    <div class="btn-group">#}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1 pull-right" href="{% url 'changepassword' %}">Change Password</a>
                {#    </div>#}
            </div>
        </div>
        <!-- FORM HERE -->
    </div>

{% endblock content %}
