{% extends 'Adtaa/base.html' %}
{% block content %}
    <h1> Welcome to the Academic Department Teaching Assignment Assistant!</h1>
    <div class="row border-bottom border-dark mt-4 pb-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="shadow">
                <img src="/media/responsive.png" class="img-fluid" alt="Responsive image of three platforms">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h4>ACCESS ACROSS ALL PLATFORMS</h4>
            <p>Access ADTAA from a variety of devices to create schedules.  Responsive design enables access from smartphones, tablets, and desktop.</p>
        </div>
    </div>

    <div class="row border-bottom border-dark mt-4 pb-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h4>YEAR-ROUND SOLUTIONS</h4>
            <p>With ADTAA, the optimal schedule can be built quickly.  Schedules are generated based on the experience of the instructors, and can be printed for distribution.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="shadow">
                <img src="/media/disc.png" class="img-fluid" alt="Responsive image of drop-down box">
            </div>
        </div>
    </div>

    <div class="row mt-4 pb-4">

        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="shadow">
                <img src="/media/map.png" class="img-fluid" alt="Responsive image of central arkansas">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
            <h4>BUILT FOR INSTITUTIONS</h4>
            <p>ADTAA is ideal for universities looking to lower administrative burden.  Departments can be ensured that courses are assigned appropriately.  Get started now!</p>
        </div>

    </div>

{% endblock content %}

