<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Print Schedule</title>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
        }
        h4 {
            font-size: 20px;
            font-weight: 100;
            text-align: center;

        }

        .row{
            border-bottom: 1px solid black;
        }

        td {
            padding-top: 4px;
        }

    </style>

</head>

<body>
    <h4>Schedule</h4>
    <table class="table table-hover">
        <thead>
            <tr class="row">


                <th scope="col">Title</th>
                <th scope="col">Days</th>
                <th scope="col">Time</th>
                <th scope="col">Instructor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

        {% for course in scheduledcourses %}
                <tr class="row">

                    <td>{{ course.courseTitle }}</td>
                    <td>{{ course.courseDays }}</td>
                    <td>{{ course.returnReadableTime }}</td>
                    <td>{{ course.instructor }}</td>

                </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>
